# Node / frontend
node_modules/
dist/

# macOS
.DS_Store

# Env secrets
.env
.env.*

# Python
__pycache__/
*.pyc

# Logs
*.log

# Archives
*.tar.gz

# Build / misc
coverage/

# Optional
venv/
.idea/
.vscode/